<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ocevent.ocevents" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ocevents</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" /> 
       
    <!-- iPhone 6 / 6+ -->
<icon src="icons/OCEM4-IOS_152-.png" gap:platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="icons/OCEM4-IOS_57-.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/OCEM4-IOS_120.png" gap:platform="ios" width="120" height="120" />

<icon src="icons/OCEM4-Android_57.png" gap:platform="android" />
<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
<gap:plugin name="org.apache.cordova.camera" source="pgb"  />
<gap:plugin name="org.apache.cordova.file" source="pgb"  />
<gap:plugin name="org.apache.cordova.file-transfer" source="pgb" version="0.4.6"  />
<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.8.0">
     <param name="APP_ID" value="1480315715605034" />
     <param name="APP_NAME" value="Ocevents" />
</gap:plugin>
<preference name="StatusBarhide" value="true" />     
</widget>

