<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ocevent.ocevents" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ocevents</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" /> 
    
    <gap:plugin name="org.apache.cordova.camera" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.file" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.file-transfer" source="plugins.cordova.io" />
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.8.0">
     <param name="APP_ID" value="1419525454987223" />
     <param name="APP_NAME" value="EVENTMANAGE" />
     </gap:plugin>
     
</widget>

